.todos-item__checkbox {
  appearance: none;
  border: 2px solid black;
  background-color: rgb(240, 240, 240);
  width: 19px;
  height: 19px;
  border-radius: 3px;
  position: relative;
  z-index: 0;

  &:checked:after {
    content: url('../../../public/img/icons/check.svg');
    position: absolute;
    left: -1px;
    top: -7px;
    z-index: 1000;
  }

  &:checked:before {
    content: '';
    display: block;
    width: 5px;
    height: 11px;
    position: absolute;
    right: -3px;
    top: -3px;
    z-index: 500;
    background-color: rgb(240, 240, 240);
  }
}

.todos-item__checkbox-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todos-item__todo-title {
  font-size: 16px;
  font-weight: 500;

  &--active {
    text-decoration: line-through;
    text-decoration-color: rgb(0, 151, 189);
    text-decoration-thickness: 2px;
  }
}
