.todos-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  &__options {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__edit-btn {
    width: 19px;
    height: 19px;

    &-icon {
      width: 100%;
      background-color: rgb(240, 240, 240);
    }
  }
}
